* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




/*  Menu */

#logo {
    font-size: 2rem;
    font-weight: 700;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    /*transition: 3s ease-in-out;*/
    padding: 10px 0;
}

.nav-link:hover {
    border-bottom: 1px solid black;
    
}
