* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1rem;
}

html {
    scroll-behavior: smooth;
}

p, .text li, .p {
    letter-spacing: 0;
}

main {
    background: linear-gradient(0deg, rgba(255,224,202,1) 0%, rgba(255,233,178,1) 80%);
    min-height: 100vh;
    overflow: hidden;
}

.main {
    max-width: 1200px;
    padding: 30px;
    margin: auto;
}

.button {
    background-color: #0431CF;
    border: 3px solid #0431CF;
    font-size: .8rem;
    display: block;
    color: white;
    font-weight: bold;
    padding: 20px 40px;
    text-align: center;
    width: 250px;
    border-radius: 50px;
    z-index: 7;
}

.button:hover {
    background: none;
    color: #0431CF;
}

.button:active {
    background-color: #FFDADA;
}



/*  Menu */

header {
    background-color: rgba(255,233,178,1);
}

#logo, #foot-logo {
    font-size: 2rem;
    font-weight: 700;
    min-width: 200px;
}

#logo:hover, #foot-logo:hover {
    color: #0431CF;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    min-height: 70px;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.nav-menu, .foot-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    /*transition: 3s ease-in-out;*/
    padding: 10px;
}

.activated {
    border-bottom: 1px solid black;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/*Footer*/

footer {
    min-height: 200px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.foot-nav {
    min-height: 70px;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}


/* Home */


.welcome {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#h1-welcome {
    font-size: 2.5rem;
    margin-bottom: 50px;
    z-index: 5;
}

.welcome h1 span {
    display: block;
}

#scroll {
    height: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    align-items: center;
    z-index: 100;
}

#blue-tab {
    height: 7px;
    width: 50px;
    border-radius: 5px;
    border: none;
    background-color: #0431CF;

}

#circle {
    height: 100vh;
    width: 100vh;
    border-radius: 5000px;
    background-color: #FFDADA;
    opacity: .6;
    position: absolute;
    left: -17.5%;
    bottom: -30%;
    z-index: 1;
    box-shadow: 5px 10px 50px 20px #ffae8e;
}

#about {
    background-color: white;
    position: relative;
    z-index: 2000;
    margin-bottom: 50px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#about div #about-img{
    width: 100%;
    min-width: 300px;
}

#about-text {
    min-width: 220px;
    max-width: 350px;
}

.p {
    display: block;
    cursor: pointer;
}

#about-text > * {
    margin-bottom: 20px;
}

.display-mobile {
    display: none;
}

/* Projects */

.projects {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
}

.centered-h1 {
    text-align: center;
}

.white-box {
    background-color: white;
    position: relative;
    z-index: 2000;
    margin-bottom: 50px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 1px #f8c3a4;
}

.featured {
    width: 100%;
    max-width: 600px;
    min-width: 400px;
}

.text-box {
    min-width: 220px;
    max-width: 350px;
} 

.text-box > * {
    margin-bottom: 20px;
}

.text-box .button, #about-text .button {
    margin-top: 50px;
}

/* Project*/

.project-container {
    background-color: white;
    position: relative;
    z-index: 2000;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 1px #f8c3a4;
}

.project-container:last-child {
    padding-bottom: 40px;
}

.project-hero {
    width: 100%;
}

.section {
    display: flex;
    margin: 0 auto;
    padding: 50px 100px;
    justify-content: center;
    gap: 70px;
}

.section .button {
    margin-bottom: 30px;
}

.section img {
    width: 50%;
    max-width: 400px;
    align-self: center;
}

.text {
    max-width: 400px;
    width: 100%;
}

.text > * {
    margin-bottom: 20px;
}

.teknologi {
    margin-top: 50px;
}


.text li {
    list-style: disc;
    margin: 0 0 5px 25px;
    
}

.top-img {
    border-radius: 5px 5px 0 0;
}

.bottom-img {
    border-radius: 0 0 5px 5px;
}

.project-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project-nav a {
    display: flex;
    gap: 20px;
}

.back, .next {
    display: flex;
    gap: 20px;
}

.back p, .next p {
    letter-spacing: .1rem;
}





@media screen and (max-width: 1100px) {


    #about div img{
        max-width: 400px;
    }
}

@media screen and (max-width: 900px) {



    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 120px;
        gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(255,224,202,1) 0%, rgba(255,233,178,1) 100%);
        text-align: center;
        transition: 0.3s;
    }

    .foot-nav {
        flex-direction: column;
    }

    .foot-nav-menu {
        flex-direction: column;
        gap: 0;
    }

    #first {
        order: 1;
        margin-top: 30px;
    }

    #foot-logo {
        order: 2;
        margin: 50px;
    }

    footer {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .nav-item {
        margin: 20px 0;
    }

    .nav-menu.active {
        left: 0;
        z-index: 3000;
    }

    /* home */


    #about {
        flex-direction: column;
    }

    #about div img{
        width: 400px;
    }

    #about-text {
        max-width: 400px;
    }

    .display-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }


   /* Projects */

   .white-box {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    }

    .featured {
        width: 100%;
        min-width: 200px;
        max-width: 400px;
    }

    .text-box, #about-text {
        align-items: center;
        justify-content: center;
    }

    .text-box .button, #about-text .button {
        margin: 50px auto 0;
    }


    /* Project */


    .section {
        flex-direction: column;
        padding: 20px;
        gap: 40px;
    }

    .section img {
        width: 100%;
    }




}






@media screen and (max-width: 600px) {

    .main, .navbar {
        padding: 20px;
    }

    #logo, #foot-logo {
        font-size: 1.5rem;
    }

    #foot-logo {
        text-align: center;
    }

    .navbar {
        height: 10vh;
    }

    .nav-menu {
        top: 70px;
    }

    #about div img, #about-text {
        width: 100%;
    }

    #about div #about-img{
        min-width: 200px;
    }

    #about {
        padding: 50px 20px;
        gap: 50px;
    }

    #h1-welcome {
        font-size: 2rem;
    }

    #circle {
        bottom: -40%;
    }

    .white-box {
        margin-bottom: 0;
    }

    .projects {
        margin-bottom: 30px;
    }

    

    

}
